body {
  background-color: black;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 75px;
  font-weight: bold;
  position: relative;
  margin: 0;
  padding: 30px 0;
  top: 0;
  left: 0;
  width: 100%;
  color: ghostwhite;
  z-index: 10;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  color: ghostwhite;
}
h3, h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: ghostwhite;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: ghostwhite;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  margin-bottom: 20px;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  padding: 10px;
  color: ghostwhite;
  z-index: 50;
}
a:hover {
  color: cyan;
}

.container {
  padding: 40px;
  top: 150px;
  width: 100%;
  height: 100%;
}
.contactformat {
  margin-left: 10px;
}
.fa {
  padding: 20px;
}
#pacman {
  top: 50px;
  max-width:100%;
  height:auto;
  position: absolute;
}

#nerd {
  position: absolute;
  top: 100px;
  left: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  color: ghostwhite;
  z-index: 100;
}

#quote {
  position: relative;
  top: 150px;
  width: 150px;
  padding: 50px 50px;
}

#portrait {
  position: absolute;
  margin-left: 50px;
  width: 150px;
  border-radius: 25%;
}

#aboutme {
  position: absolute;
  top: 50px;
  margin-left: 250px;
  max-width: 50%;
}

.contact-box {
  max-width: 600px;
  margin: 0 auto;
}

.contact-item {
  position: relative;
  text-align: left;
}

.contact-detail {
  position: absolute;
  right: 20%;
}

.pacmanproject {
  float: left;
  width: 350px;
  padding: 0 40px;
}
.projectimage {
  width: 350px;
}
.amiright {
  float: left;
  width: 350px;
  padding: 0 40px;
}
.chargen {
  float: left;
  width: 350px;
  padding: 0 40px;
}
.mazegen {
  float: left;
  width: 350px;
  padding: 0 40px;
}

#navbar {
  position: absolute;
  top: 8px;
  left: 0;
  z-index: 100;
}

#aboutlink{
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 45px;
  font-weight: bold;
  bottom: 22%;
  left: 20%;
  color: ghostwhite;
  border: none;
  background: transparent;
  outline: none;
  z-index: 100;
}
#aboutlink:hover {
  color: black;
}

#contactlink{
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 45px;
  font-weight: bold;
  outline-color: invert;
  bottom: 27%;
  left: 40%;
  color: darkslategrey;
  border: none;
  background: transparent;
  outline: none;
  z-index: 100;
}
#contactlink:hover {
  color: gainsboro;
}

#projectslink{
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 45px;
  font-weight: bold;
  bottom: 23%;
  left: 70%;
  color: ghostwhite;
  border: none;
  background: transparent;
  outline: none;
  z-index: 100;
}
#projectslink:hover {
  color: black;
}
@media (max-width: 450px) {
  body {
    overflow: scroll;
  }
  h1 {
    white-space: nowrap;
    color: ghostwhite;
    font-size: 65px;
    top: 10px;
  }
  #pacman {
    display: none;
  }
  #nerd {
    font-size: 39px;
  }
  #portrait {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #quote {
    position: relative;
    top: 0;
    margin: 0 auto;
    width: 250px;
  }
  #aboutme {
    position: relative;
    top: 0;
    margin-left: 20px;
    padding: 0 20px;
    max-width: 300px;
  }
  .contact-detail {
    position: relative;
    left: 10%;
  }
  #contacticons {
    max-width: 300px;
  }
  .pacmanproject {
    padding: 0;
  }
  .amiright {
    padding: 0;
  }
  .chargen {
    padding: 0;
  }
  .mazegen {
    padding: 0;
  }
  .projectimage {
    max-width: 300px;
    padding: 0;
  }
  #aboutlink{
    left: 0;
    bottom: 40vh;
  }
  #contactlink {
    color: ghostwhite;
    left: 0;
    bottom: 30vh;
  }
  #projectslink {
    left: 0;
    bottom: 20vh;
  }
}
